body {
	font-size: 12px;
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 30px;
}

#poem {
	width: 400px;
}

h1 {
	font-size: 18px;
	color: #0066FF;
	text-align: center;
}

span {
	font-size: 12px;
	color: #999;
	font-weight: normal;
}

p {
	text-indent: 2em;
	line-height: 22px;
}

.first {
	font-size: 18px;
	color: #FF3366;
	font-weight: bold;
}

.last {
	color: #339900;
	text-decoration: underline;
	cursor: pointer;
}

.important {
	color: #03F;
	font-size: 16px;
	font-style: italic;
	cursor: pointer;
	font-weight: bold;
}