<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="001" className="cn.itcast.demo.User">
		<property name="user" value="jack"></property>
		<property name="user" value="rose"></property>
	</bean>

	<bean id="002" className="cn.itcast.demo.Admin">
		<property name="user" value="admin"></property>
		<property name="user" value="write"></property>
	</bean>
</beans>
