<?xml version = "1.0" encoding = "UTF-8"?>
<beans>
	<bean className = "cn.itcast.domain.Car">
		<property name = "brand" value = "宝马"/>
		<property name = "color" value = "红色"/>
		<property name = "price" value = "280000"/>
		<property name = "type" value = "CX200"/>
		<property name = "productDate" value = "2016-10-30"/>
	</bean>
	<bean className = "cn.itcast.domain.Book">
		<property name = "title" value = "Oracle管理员手册"/>
		<property name = "publishDate" value = "2017-01-28"/>
		<property name = "price" value = "35"/>
		<property name = "publishHouse" value = "传智播客出版社"/>
		<property name = "author" value = "传智人"/>
	</bean>
</beans>
